<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Frank+Ruhl+Libre:wght@700&family=Patua+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/style.css">
  </head>
  <body>

   
    <div class= "home">
        <!-- Barre -->
        <%- include('navbar'); %>
    
         <!-- Grille -->
        <div class="container">
            
            <h5>Mes tickets </h5>
                          
             <!-- Tableau -->
             <table class="table table-light">
             <thead class= "my-3">
               <tr>
                 <th scope="col">N°</th>
                 <th scope="col">Trajet</th>
                 <th scope="col">Date du départ</th>
                 <th scope="col">Horaire de départ</th>
                 <th scope="col">Prix</th>
               </tr>
             </thead>
             <tbody>
            <%
                var totalLastTrip = 0;
            for(i=0; i<ltsFF.length; i++){
                totalLastTrip = totalLastTrip + ltsFF[i].price ;%>
               <tr>
                 <td scope="row"><%=i+1%></td>
                 <td><%=ltsFF[i].departure%>/<%=ltsFF[i].arrival%></td>
                 <td><%=dateFormat(ltsFF[i].date)%></td>
                 <td><%=ltsFF[i].departureTime%></td>
                 <td><%=ltsFF[i].price%>€</td>
               </tr>
               <%}%>
              <!--total-->
              
                <td scope="row"></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%=totalLastTrip%>€</td>
              </tr>

              
              
            </tbody>
          </table>
          
                <div class="container-fluid align-items-center d-flex justify-content-center my-5">
                <span class="monde" style="font-size: 12em; color: white">
                <i class="fas fa-globe-americas"></i>
                </span>
            </div>
    </div>

     </div>
     <%- include('footer'); %>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
  </html>
