<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Frank+Ruhl+Libre:wght@700&family=Patua+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/style.css">
  </head>
  <body>

   
    <div class= "home">
        <!-- Barre -->
        <%- include('navbar'); %>
    
         <!-- Grille -->
        <div class="container">
            
            <h5>Mes tickets </h5>
                          
             <!-- Tableau -->
             <table class="table table-light">
             <thead class= "my-3">
               <tr>
                 <th scope="col">N°</th>
                 <th scope="col">Trajet</th>
                 <th scope="col">Date du départ</th>
                 <th scope="col">Horraire de départ</th>
                 <th scope="col">Prix</th>
               </tr>
             </thead>
             <tbody>
            <%var total = 0;
              for(i=0; i<panier.length; i++){%>

               <tr>
                 <td scope="row"><%=i +1%></td>
                 <td><%=panier[i].departure%>/<%=panier[i].arrival%></td>
                 <td><%=dateFormat(panier[i].date)%></td>
                 <td><%=panier[i].departureTime%></td>
                 <td><%=panier[i].price%>€</td>
                </tr>
               
              <%total = panier[i].price + total}%>
              <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%=total%>€</td>
              </tr>
 
             </tbody>
           </table>

                        <!-- Trigger the modal with a button -->
                  <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Open Modal</button>
                  </div>
                <!-- Modal -->

                <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>

                </div>
                <div class="modal-body d-flex flex-column align-items-center">
                <p>Vous êtes prêts pour le décollage ! Merci d'avoir choisi PlanetHack, et n'oubliez pas votre masque dans la navette </p>
                <iframe width="360" height="280" src="https://www.youtube.com/embed/U_VFgZzEA2c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                <button href="/homepage" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                </div>


                </div>
                </div>

            
                <div class="container-fluid align-items-center d-flex justify-content-center my-5">
                <span class="monde" style="font-size: 12em; color: white">
                <i class="fas fa-globe-americas"></i>
                </span>
            </div>

    </div>

     </div>
     <%- include('footer'); %>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
  </html>
